.gif-background {
    /* Указываем URL анимированной GIF-картинки */
    background-image: url("./assets/ezgif-5-424bf10e4d.gif");

    /* Задаем размер и расположение фона */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* Другие свойства для стилизации вашей компоненты */
    width: 100%;
    height: 100%;
    /* ...другие свойства... */
}